body {
	margin: 0;
	color: #F3E8E8;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: #525252;
	padding: 15px 10px;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.nav_logo {
	content: url(../img/logo.svg);
}
.nav_list {
	list-style: none;
}

.nav_item {
	display: inline-block;
}

.nav_link {
	color: #F3E8E8;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 10px;
}

.nav_link:hover {
	color: #fff;
}

.nav_link.active {
	color: #fff;
}

.nav_phone {
	display: flex;
}
.phone_img {
	content: url(../img/phone.svg);
	margin-right: 15px;
}

