body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

/*header*********************************/

.header {
	background-color: #2b7ded;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site_name a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
  	font-weight: 700;
}

.logo {
	content: url(img/code.svg);
}

.menu_list {
	list-style: none;
}

.menu_list li {
	display: inline-block;
	margin-left: 15px;
}

.menu_list li a {
	text-decoration: none;
	color: #fff;
}


.menu_list li a:hover:after {
	content: '';
    display: block;
    height: 2px;
    background: #fff;
  }
  


/*main*****************************************/

.main {
	height: 100vh;
	background: #000 url(img/bg.jpg) center no-repeat;
	background-size: cover;
}