$orange: #E04504;

body {
    font-family: 'Oranienbaum', serif;
    color: #000;
}

@font-face {
    font-family: Aquarelle;
    src: url(../fonts/4285.ttf);
}

.title {
    position: relative;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 7px;
    margin-bottom: 30px;
}

.title_shadow {
    position: relative;
    top: 56px;
    font-family: Aquarelle;
    font-size: 72px;
    font-weight: 100;
    color: $orange;
}

.header_title {
    font-family: Aquarelle;
    font-size: 95px;
    font-weight: 100;
    line-height: 150px;
}

.header_text {
    font-size: 22px;
}

.header {
    height: 675px;
    background: url(../img/header_bg.jpg) center top no-repeat;
}

.logo {
    display: inline-block;
    padding-top: 40px;
    margin-bottom: 120px;
}

.nav {
    &_item {
        display: inline-block;
        margin-left: 50px;
        padding-top: 40px;
    }
    &_item:first-child {
        margin-left: 0;
    }
    &_link {
        color: #000;
    }
}

.features {
    &_item {
        width: 215px;
        height: 190px;
        border-radius: 2px;
        background-color: $orange;
    }
    &_icon {
        display: block;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    &_text {
        text-align: center;
        font-size: 18px;
        color: #F2F3F4;
    }
}

.safety ul {
    list-style-type: none;
    padding-left: 0;
}

.safety ul li {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 5px;
}

.safety .mask {
    background: url(../img/mask.jpg) center center no-repeat;
}


.service {
    &_men {
        position: relative;
    }
    &_women {
        position: relative;
    }
    &_male {
        position: absolute;
        top: 0;
        left: 40%;
        background-color: rgb(240, 229, 229);
        li {
            border-bottom: #000 1px solid;
            border-left: solid 1px #000;
            padding: 5px;
        }
        }
    li {
        font-size: 20px;
    }
    ul {
        padding-left: 0;
        list-style-type: none;
    }
    &_male, &_female {
        display: none;
    }
}

.service_men {
    transition: display 5s;
}

.service_men:hover {
    .service_male {
        display: block;
    }
}

.service_women:hover {
    cursor: pointer;
    .service_female {
        display: block;
    }
}

.service_male {
    li:nth-child(1) {
        span {
            padding-left: 200px;
        }
    }
    li:nth-child(2) {
        span {
            padding-left: 270px;
        }
    }
    li:nth-child(3) {
        span {
            padding-left: 170px;
        }
    }
    li:nth-child(4) {
        span {
            padding-left: 230px;
        }
    }
    li:nth-child(5) {
        span {
            padding-left: 130px;
        }
    }
    li:nth-child(6) {
        span {
            padding-left: 170px;
        }
    }
    li:nth-child(7) {
        span {
            padding-left: 140px;
        }
    }
    li:nth-child(8) {
        span {
            padding-left: 130px;
        }
    }
    li:nth-child(9) {
        span {
            padding-left: 120px;
        }
    }
    li:nth-child(10) {
        span {
            padding-left: 30px;
        }
    }
}

.masters {
    margin-bottom: 100px;
    &_text {
        padding-top: 100px;
        padding-left: 28px;
    }
    &_name {
        font-size: 33px;
        line-height: 60px;
    }
    &_skill {
        font-size: 20px;
        line-height: 40px;
    }
    &_stage {
        font-size: 18px;
        line-height: 50px;
    }
    &_phone {
        font-size: 18px;
        padding-left: 40px;
        background: url(../icons/phone_master.png) no-repeat 0 2px;
    }
}

.slick-prev:before {
    content: url(../icons/prev.png);
}

.slick-next:before {
    content: url(../icons/next.png);
}

.response {
    .title_shadow, .title {
        font-size: 36px;
    }
    .title {
        letter-spacing: normal;
        line-height: 30px;
    }
    .title_shadow {
        top: 25px;
        left: 130px;
    }
    .text {
        font-size: 20px;
    }
    .form {
        border: 1px solid $orange;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        .btn {
            width: 200px;
            height: 40px;
            border: none;
            background-color: #E04504;
            border-radius: 2px;
            font-size: 18px;
            color: #fff;
        }
        .name, .area {
            width: 250px;
            margin-bottom: 10px;
        }
        
    }
}

.contacts {
    position: relative;
    .small_text {
        font-size: 14px;
    }
    .name {
        text-align: center;
    }
    .big_text {
        font-size: 18px;
    }
    .middle_text {
        font-size: 16px;
    }
    &_map {
        margin: 0 auto;
    }
    &_agenda {
        position: absolute;
        width: 269px;
        padding: 25px 27px 11px;
        background-color: #fff;
        top: 60px;
        left: 120px;
        border: 1px solid #000;
        box-shadow: 3px 5px 15px rgba(224, 69, 4, 0.5);
        border-radius: 4px;
    }
    &_logo {
        width: 50px;
        margin: 0 auto;
    }
    &_connect, &_time, &_address {
        margin-left: 40px;
        margin-top: 7px;
        padding-top: 4px;
        border-top: 1px solid rgba(0,0,0, 0.2);
    }
    &_address::before {
        content: url(../icons/icon-map.svg);
        position: absolute;
        display: inline-block;
        top: 140px;
        left: 29px;
    }
    &_time::before {
        content: url(../icons/icon-clock.svg);
        position: absolute;
        display: inline-block;
        top: 226px;
        left: 29px;
    }
    &_connect::before {
        content: url(../icons/phone_master.png);
        position: absolute;
        display: inline-block;
        top: 318px;
        left: 29px;
    }
}