.menu {
	background-color: #e3e3e3;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

.first_level {
	display: flex;
	position: relative;
}

.first_level>li {
	padding-right: 10px;
}

.second_level {
	position: absolute;
	left: 0;
	top: 0;
	background-color: orange;
}

.second_level a:last-child {
	color: green;
}