body {
	margin: 0;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}

*:before,
*:after {
	box-sizing: border-box;
}

h1,h2.h3,h4,h5,h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}


/*header************************************/

.header {
	background-color: #525252;
}

.nav {
	display: flex;
	justify-content: space-between;
}
