body {
	margin: 0 auto;
	padding: 0;
}


.header_navigation {
	display: flex;
	justify-content: space-between;
	background-color: #525252;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav_list {
	list-style: none;
	display: flex;
}

.nav_item a {
	text-decoration: none;
	text-transform: uppercase;
	color: #F3E8E8;
	margin-right: 30px;
}

.header_phone {
	color: #F3E8E8;
}

.container video {
	position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.video_fon {
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 2;
	width: 100%;
	opacity: 0.6;
	height: 60vh;
	background: #000;
	border-top: 1px solid #F7E0E0;
}

/*.menu {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 2;
	width: 100%;
	background-color: lightgray;
	opacity: 1;
	object-fit: cover;
}

.nav_item {
	list-style: none;
	display: flex;
}


.main {
	min-height: 40vh;
	border: 1px solid red;
}*/

/*.footer {
	border: 1px solid green;
	height: 10vh;
}
*/
