* {
	font-family: 'Roboto', serif;
}

nav {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 50px;
	background-color: #212121;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_link {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
}

.menu .menu_item {
	border-right: 2px dotted #000;
	padding-right: 28px;
}

header {
	position: relative;
}

.subheader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 84px;
	background-color: rgba(0,0,0,0.5);
}

.subheader .subheaader_logo {
	max-width: 100%;
	display: block;
	margin-top: 16px;
}

.subheader .subheader_official {
	font-size: 13px;
	opacity: 0.5;
	color: #fff;
}

.subheader .subheader_call {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	margin-top: 23px;
	text-align: right;
}

.subheader .subheader_phone {
	display: block;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	line-height: 23px;
	text-align: right;
}

.subheader .subheader_btn {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	width: 172px;
	height: 46px;
	border-radius: 8px;
	border: none;
	background-color: #5ec1d9;
	margin-top: 20px;
}

.promo {
	min-height: 800px;
	background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
	padding: 150px 0 130px 0;
}

.promo .promo_title {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;
	margin-top: 50px;
}

.promo .promo_subtitle {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 36px;
}

.promo .promo_text {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 24px;
	text-align: center;
	margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reasons .label {
	font-size: 11px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	background-color: #000;
	width: 120px;
	margin: 40px auto;
	padding: 10px;	
}

.reasons .reasons_title {
	font-size: 38px;
	color: #000;
	font-weight: 700;
	text-align: center;
}

.reasons .reasons_block {
	display: flex;
	margin-top: 20px;
}

.reasons .reasons_logo {
	display: block;
	padding: 20px;
	width: 113px;
	height: 113px;
	background-color: #1EACC7;
	border-radius: 100%;
	margin: 20px;
}

.reasons .reasons_descr {
	width: 350px;
}

.reasons .reasons_subtitle {
	font-size: 17px;
	font-weight: 400;
	color: #1EACC7;
}

.reasons .reasons_text {
	font-size: 14px;
	font-weight: 300;
	color: #202020;
}




