.advantages {
    &_title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    &_subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }
    &_text {
        font-size: 14px;
    }
    &_items {
        display: flex;
    }
    &_item1 {
        width: 33.3%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        padding-top: 120px;
        background: url(../icons/advantages/cup.png) no-repeat top center;
    }
    &_item2 {
        width: 33.3%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        padding-top: 120px;
        background: url(../icons/advantages/heart.png) no-repeat top center;
    }
    &_item3 {
        width: 33.3%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        padding-top: 120px;
        background: url(../icons/advantages/shoe.png) no-repeat top center;
        .reference {
            text-transform: uppercase;
            color: $main-color;
            text-decoration: underline;
        }
        .reference:hover {
            text-decoration: none;
        }
    }
}