* {
	box-sizing: border-box;
}

.container {
	display: flex;
}

.column {
	width: 25%;
	/*margin: 5px;*/
}

img {
	width: 100%;
	vertical-align: middle;
	padding: 5px;
}


/*media*/

@media (max-width: 800px) {
	.container {
		flex-wrap: wrap;
	}

	.column {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.container {
		flex-wrap: wrap;
	}
	.column {
		width: 100%;
	}
}