.container {
	display: flex;
	width: 80%;
	background-color: gray;
	margin: 20px auto;
}

.container__item {
	font-size: 5vw;
  	padding: .5em;
  	color: white;
}

.red {
	background-color: red;
	flex-grow: .5;
}

.brown {
	background-color: brown;
}
.green {
	background-color: green;
	width: 40vw;
}