* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header, .footer {
	height: 10vh;
	background-color: lightgreen;
}

.main {
	display: flex;
	min-height: 80vh;
}

.nav, .article, .aside, .header, .footer {
	text-align: center;
	padding-top: 20px;
}

.nav, .aside {
	background-color: yellowgreen;
	width: 20vw;
}

.article {
	flex: 1;
}